:root {
  --f-6f-6f-6: rgba(246, 246, 246, 1);
  --ffbb-91: rgba(255, 187, 145, 1);
  --ff-8e-6e: rgba(255, 142, 110, 1);
  --x-515070: rgba(81, 80, 112, 1);
  --variable-collection-laker-purple: rgba(85, 37, 131, 1);
}
